/* General body and background */
body, main {
    font-family: 'Luckiest Guy', cursive;
    color: white;
    background-image: url("../Images/Autres/Background.jpg");
    background-repeat: repeat;
    background-size: auto;
    background-attachment: fixed;
}

header {
    font-family: 'Luckiest Guy', cursive;
}
.nav-link.active {
    color: #ffffff !important;        /* text color */
}

main {
    border: 2px solid rgba(0, 110, 255, 0.4);
    padding-bottom: 20px;
}
footer {
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    padding: 10px;
    background-color: rgba(12, 59, 121, 0.8);
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
}
/* Container styling */
#tableau-carte, #tableau-clans {

    padding: 20px;
}

.tableau {
    border-radius: 20px;
    border: 2px solid rgba(0, 110, 255, 0.4);
    box-shadow: 0 0 15px rgba(0, 140, 255, 0.7);
}

/* Card styling */
#tableau-carte .card, #tableau-clans .card {
    background: transparent  ;
    border: none  ;
    box-shadow: none  ;
    color: white  ;
    text-shadow: 0 0 4px black;
    font-family: 'Luckiest Guy', cursive;
    font-size: 16px; /* Default size */
    transition: transform 0.2s ease, filter 0.2s ease;
}

/* Card hover animation */
#tableau-carte .card:hover, #tableau-clans .card:hover {
    transform: scale(1.05);
    cursor: pointer;
    filter: brightness(1.15);

}

/* Card titles */
#tableau-carte .card-title {
    font-size: 18px;
    margin-top: 8px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    #tableau-carte .card {
        font-size: 14px 0;
    }
    #tableau-carte .card-title {
        font-size: 16px  ;
    }
}

@media (max-width: 576px) {
    #tableau-carte .card {
        font-size: 13px  ;
    }
    #tableau-carte .card-title {
        font-size: 14px  ;
    }
}


.bg-blue-900 {
    background-color: #0c3b79;
}

.big-goofy-title {
    font-size: 5rem;
    text-shadow: 2px 2px 8px rgb(2, 29, 117);
    stroke: url(#ffffff);
    padding: 10px;
}



h2.text-center {
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.7rem;
    line-height: 1.6;
    text-align: center;
    max-width: 900px;
    margin: 20px auto;

    color: rgb(255, 195, 10); /* jaune doré */

    text-shadow:
        0 0 6px rgba(255, 230, 120, 0.7),
        0 0 12px rgb(74, 27, 1);
}


h3.text-center {
    font-family: 'Luckiest Guy', cursive;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 25px;

    color: #00a6ff; /* bleu clair */

    /* Glow bleu clair */
    text-shadow:
        0 0 10px rgba(0, 170, 255, 0.9),
        0 0 25px rgba(0, 170, 255, 0.6);
}



.header-img, .banner-img {
    display: block;
    margin: 20px auto;
    width:60%;

}

